.App {
  text-align: center;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #7b7b7b;
}

.cell:active {
  border: 2px solid grey;
}

.box-shadow {
  box-shadow: 0.5px 0.5px 3px black;
}

.click:hover {
  cursor: pointer;
  box-shadow: none;
  border: 3px solid black;
}

.bomb-num-container {
  width: 30px;
  height: 30px;
  background-color: #aca9a9;
  border: 1px solid grey;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
